@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Stick+No+Bills:wght@400;500&family=Tourney:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 14%, rgba(26,26,37,1) 55%, rgba(31,54,59,1) 100%);
}

nav{
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px white solid;
    width: 100%;
    height: 50px;
}

ul, ul > a {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    gap: 45px;
    margin-left: 40px;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
}

#rightlogo {
    font-size: 25px;
    margin-right: 40px;
}

/* Game section */

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardone, .cardtwo{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 50px;
    margin: 50px;
    border: 1px white solid;
    border-radius: 35px;
    width: 500px;
    height: 550px;
}

.cardone{
    justify-content: space-around;
}

.cardrock, .cardscissors, .cardpaper{
    font-size: 55px;
    color: white;
    font-family: 'Tourney', cursive ;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardtwo{
    justify-content:baseline;
    background: url(/assets/img/bowsercart) bottom no-repeat;
    background-size: 50%;
}

/* Game action section */

.actionplay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.actbutton{
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Stick No Bills', sans-serif;
}

#iaplayer{
    font-size: 55px;
    color: white;
    font-family: 'Tourney', cursive ;
}

#score, #iawin{
    font-size: 55px;
    color: white;
    font-family: 'Nabla', cursive ;
}

/*Report a bug session
  Form design
*/

.bugarea {
    width: 64%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 0px 50px;
    margin: 150px auto;
    background-color: rgba(2,0,36, 0.3);
}


.upper {
    font-size: 56px;
    color: #fff;
    line-height: 24px;
    text-align: justify;
    align-self: center;
    font-family: 'Stick No Bills', sans-serif;
}

.bugarea p {
    margin-top: 16px;
    line-height: 20px;
    max-width: 450px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
}


form {
    display: flex;
    flex-direction: column;
    width: 75%;
}


input {
    margin-top: 14px;
    height: 16px;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid #47B5FF;
    font-size: 15px;
}

textarea{
    margin: 20px 0;
    text-transform: uppercase;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #47B5FF;
    color: white;
    font-weight: bold;
    align-self: center;
}

/* Responsive area */

@media screen and (max-width:768px) {
    
    ul, ul > a {
        margin-left: 20px;
        list-style-type: none;
    }
    
    .cardone, .cardtwo{
        align-items:flex-start;
        padding: 30px;
        margin: 30px;
        width: 300px;
        height: 350px;
    }
    
    
    .cardrock, .cardscissors, .cardpaper{
        font-size: 45px;
        justify-content:left;
    }
    
    .cardtwo{
        text-align: center;
    }

}

/* Responsive area */

@media screen and (max-width:425px) {

    
    ul, ul > a {
        font-size: 25px;
        gap: 2px;
        margin-left: 10px;
    }
     
    #rightlogo {
        font-size: 25px;
        margin-right: 20px;
    }
    
    .cards{
        flex-direction: column;
    }
    
    .cardone, .cardtwo{
        align-items:flex-start;
        padding: 30px;
        margin: 30px;
        width: 300px;
        height: 200px;
    }
    
    
    .cardrock, .cardscissors, .cardpaper{
        font-size: 30px;
        }
    
    .cardtwo{
        background: none;
    }

    #iaplayer, #score{
        font-size: 40px;
    }

    /* Game action section */

    .actionplay{
        gap: 5px;
    }
    
    .actbutton{
        font-size: 25px;
    }

    /* Form responsiveness */

    .bugarea {
        width: 100%;
        padding: 0px;
        margin: 125px 0px;
    }
    
    
    .upper {
        font-size: 50px;
    }
    
    .bugarea p {
        font-size: 18px;
    }


}