*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 14%, rgba(26,26,37,1) 55%, rgba(31,54,59,1) 100%);
}

nav{
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px white solid;
    width: 100%;
    height: 50px;
}

ul, ul > a {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    gap: 45px;
    margin-left: 40px;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
}

#rightlogo {
    font-size: 25px;
    margin-right: 40px;
}

/* Game section */

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardone, .cardtwo{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 50px;
    margin: 50px;
    border: 1px white solid;
    border-radius: 35px;
    width: 500px;
    height: 550px;
}

.cardone{
    justify-content: space-around;
}

.cardrock, .cardscissors, .cardpaper{
    font-size: 55px;
    color: white;
    font-family: 'Tourney', cursive ;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardtwo{
    justify-content:baseline;
    background: url(./img/bowsercart) bottom no-repeat;
    background-size: 50%;
}